<div class="starter-template">
	<h1>RubyMUSH</h1>
	<p class="lead">A MUSH implemented in Ruby using embedded JavaScript as a scripting language.</p>
	<p><strong>Connect at:</strong> rflog.io 8081</p>

	<h2>Players Online</h2>

	<% players = Thing.where(connected: true).all %>

	<% if players.size > 0 %>
		<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Player</th>
	      <th>Idle</th>
	      <th>Doing</th>
	    </tr>
	  </thead>
	  <tbody>
			<% for player in players %>
		    <tr>
		      <td><%= player.name %></td>
		      <td><%= time_ago_in_words(player.last_interaction_at) %></td>
		      <td><%= player.doing %></td>
		    </tr>
			<% end %>
	  </tbody>
		</table>
	<% else %>
		<p>Nobody!</p>
	<% end %>

	<span class="navbar-text">
	          <!-- Place this tag where you want the button to render. -->
	          <a class="github-button" href="https://github.com/bensinc/rubymush/fork" data-size="large" aria-label="Fork bensinc/rubymush on GitHub">Fork on GitHub</a>
	        </span>

</div>
